*
{
    margin: 0; 
    padding: 0; 
}

/* Main Section */

#img-div img
{
    width: 100vw;
    height: 100vh;
}

h1 
{font-family: 'Oswald', sans-serif;}

h2
{font-family: 'Markazi Text', serif;}

h3, p
{font-family: 'Montserrat', sans-serif;}

#title .text-block1 
{
    height: 250px; 
    width: 175px; 
    position: absolute;
    bottom: 155px;
    left: 250px;
    font-size: 105px;
    background-color: black;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title .text-block2
{
    height: 175px;
    width: 350px;
    position: absolute;
    bottom: 30px;
    left: 300px;
    font-size: 80px;
    background-color: white;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Tribute Info */


#tribute-info .container
{
  display: inline-flex;
  width: 100%;
  padding-top: 50px; 
  padding-bottom: 80px;
}

.column-text 
{
    width: 55%;
    float: left; 
    margin-left: 50px;
}

.column-text h2
{
    font-size: 40px;    
}

.column-text p
{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    margin-right: -50px;
}

.column-image 
{
    width: 40%;
    float: right; 
    margin-right: -70px;
    margin-top: 30px;
}

.column-image img
{
    width: auto;
    height: 375px;
    margin-left: 10px;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1000px) 
{
    .column-text,
    .column-image {
        width: 100%;
        text-align: center;
    }
    img {
        margin: auto;
    }
}

/* Early Life */

#early-life
{
    height: 85vh;
    background: grey;
}

#early-life .container
{
    max-width: 950px;
    margin: 0 auto;
    padding-top: 80px;
    margin-left: 80px;
    display: inline;   
}

.text-block h2
{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-bottom: 30px;
}

.text-block p
{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.gallery img
{  
   height: auto;
   width: auto;
}

.text-block
{
    width: 55%;
    float: right;
    padding-top: 75px;
    padding-right: 50px;
    margin-left: 10px;
    text-align: justify;
}


@keyframes crossfade
{
    0%{background: url(img/paul3.jpg)}
    20%{background: url(img/paul4.jpg)}
    40%{background: url(img/paul5.jpg)}
    60%{background: url(img/paul6.jpg)}
    80%{background: url(img/paul7.jpg)}
    100%{background: url(img/paul3.jpg)}
}

.gallery
{
    margin-top: 165px;
    margin-left: 85px;
    float: left;
    width: 30%;
    max-width: 800px;
    max-height: 350px;
    background: grey;
    border-radius: 4%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: crossfade 30s linear infinite;
    -webkit-animation: crossfade 30s linear infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
