*
{
    margin: 0; 
    padding: 0; 
}

/* Main Section */

#img-div img
{
    width: 100vw;
    height: 100vh;
}

h1 
{font-family: 'Oswald', sans-serif;}

h2
{font-family: 'Markazi Text', serif;}

h3, p
{font-family: 'Montserrat', sans-serif;}

#title .text-block1 
{
    height: 250px; 
    width: 175px; 
    position: absolute;
    bottom: 155px;
    left: 250px;
    font-size: 105px;
    background-color: black;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title .text-block2
{
    height: 175px;
    width: 350px;
    position: absolute;
    bottom: 30px;
    left: 300px;
    font-size: 80px;
    background-color: white;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Tribute Info */


#tribute-info .container
{
  display: inline-flex;
  width: 100%;
  padding-top: 50px; 
  padding-bottom: 80px;
}

.column-text 
{
    width: 55%;
    float: left; 
    margin-left: 50px;
}

.column-text h2
{
    font-size: 40px;    
}

.column-text p
{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    margin-right: -30px;
    color: black;
}

.column-image 
{
    width: 40%;
    float: right; 
    margin-right: -50px;
    margin-top: 25px;
}

.column-image img
{
    width: auto;
    height: 400px;
    margin-left: 10px;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1000px) 
{
    .column-text,
    .column-image {
        width: 100%;
        text-align: center;
    }
    img {
        margin: auto;
    }
}

/* Early Life */

#early-life
{
    height: 130vh;
    background: grey;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#early-life .container
{
    max-width: 950px;
    margin: 0 auto;
    padding-top: 80px;
    margin-left: 80px;
    display: inline;   
}

.text-block h2
{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-bottom: 30px;
}

.text-block p
{
    font-size: 19px;
    color: white;
}

.gallery img
{  
   height: auto;
   width: auto;
}

.text-block
{
    width: 55%;
    float: right;
    padding-top: 75px;
    padding-right: 50px;
    margin-left: 10px;
    text-align: justify;
}


@keyframes crossfade
{
    0%{background: url(img/paul3.jpg); background-size: cover;}
    20%{background: url(img/paul4.jpg);background-size: cover;}
    40%{background: url(img/paul5.jpg);background-size: cover;}
    60%{background: url(img/paul6.jpg);background-size: cover;}
    80%{background: url(img/paul7.jpg);background-size: cover;}
    90%{background: url(img/paul8.jpg);background-size: cover;}
    100%{background: url(img/paul3.jpg);background-size: cover;}
}

.gallery
{
    margin-top: 75px;
    margin-left: 85px;
    float: left;
    width: 32%;
    position: absolute;
    max-width: 875px;
    max-height: 400px;
    background: grey;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: crossfade 30s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    -webkit-animation: crossfade 30s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}

.text-quote
{
    margin-top: 525px;
    margin-left: 85px;
    float: left;
    width: 32%;
    position: absolute;
    max-width: 875px;
    max-height: 350px;
    background: white;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}

.text-quote p
{
    font-size: 18px;
    font-weight: bold;
    font-display: wrap;
    line-break: normal;
    text-align: justify;
    padding: 15px;
    margin: 15px;
    color: black;

}

/* Career Section */

#career
{
    height: 120vh;
    background: black; 
    padding: 50px;
    margin: 0 auto;
}

.title-career h2
{
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
    margin-left: 2px;
}

.sidetab 
{
    float: left;
    border: 2px solid white; 
    background-color: white;
    width: 25%;
    height: 710px;
}

.sidetab button 
{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: white;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}

.sidetab button:hover
{
    background: gray; 
    color: white;
}

.sidetab button.active
{
    background-color: gray;
    color: white;
}

#career .details
{
    float: left;
    padding: 30px;
    border: 2px solid white;
    width: 70%;
    height: 650px;
    border-left: none;
}

#career .details img
{
    height: 65%;
    width: 60%;
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 14px;
    float: right;
}

#career .details h2
{
    color: white;
    margin: 5px;
    font-size: 30px;
}

#career .details h3
{
    color: white;
    margin: 5px;
    font-size: 18px;
}

#career .details p 
{
    color: white;
    margin: 5px;
    font-size: 15px;
    text-align: justify;
    word-wrap: wrap;
    margin-bottom: 15px;
}

/* Discography Section */

#discography .container
{
    width: 100%;
    height: 200vh;
    margin-top: 80px;
    margin-left: 130px; 
}

.title h2
{
    font-size: 60px;
    margin-top: 60px;
    margin-left: 60px;
}

.row1 
{
    width: 100%;
    display: flex;
    margin: -175px 50px 0 0px;
}

.row2 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -275px;  
}

.row3 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -275px;
    margin-left: 0px;
}

.albumCard 
{
    position: relative;
    top: 5%;
    left: 2%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 250px;
    margin: 275px 10px 10px 20px;
    background: #262626;
    overflow: hidden;
    clear: both;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.albumCard .albumImage,
.albumCard .albumDetails 
{
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.albumCard .albumImage 
{
    top: 0;
    left: 0;
}

.albumCard:hover .albumImage 
{
    top: 0;
    left: -100%;
}

.albumCard .albumImage img 
{
    width: 100%;
}

.albumCard .albumDetails 
{
    background: black;
    top: 0;
    left: 100%;
    padding: 40px 20px 60px 20px;
}

.albumCard:hover .albumDetails 
{
    top: 0;
    left: 0%;
}

.albumCard .albumDetails h2 
{
    color: white;
    text-align: left;
    font-size: 25px;
}

.albumCard .albumDetails p 
{
    margin: 8px 0 10px 2px;
    color: #fff;
    font-size: 14px;
    text-align: left;
}


.albumCard .albumDetails button
{
    width: 90px;
    height: 30px;
    margin: 4px;
    border: .5px solid white;
    color: white;
    background: black;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.albumCard .albumDetails button:hover 
{
    background: white;
    color: black;
    font-weight: bold;
}

.albumCard .albumDetails a
{
    color: inherit;
    text-decoration: none;
}


.albumCard .albumDetails a:visited
{
    color: inherit;
    text-decoration: none;
}
